         h1 {
          margin-left: auto;
          margin-right:auto;
          width; 50%;
          }  

          p{
          margin-left: auto;
          margin-right:auto;
          width; 50%;
          }  

        .center{
         display: block;
         margin-left: auto;
         margin-right:auto;
         width; 50%; 
           }

        .center1{
         margin-left: auto;
         margin-right:auto;
         width; 50%; }

      
        body {
            background-image: url('myBackground.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
            
