 h2 {
            color: rgb(0, 232, 15);
        }  
        .center{
         display: block;
         margin-left: auto;
         margin-right:auto;
         width; 50%; 
           }
        body {
            background-image: url('myBackground.jpg');
        }
            
