         h1 {
          text-allign: center;
          width; 50%;
          }  

          p{
          text-allign: center;
          width; 50%;
          }  

        .center{
         display: block;
         margin-left: auto;
         margin-right:auto;
         width; 50%; 
           }

        .center1{
         margin-left: auto;
         margin-right:auto;
         width; 50%; }

      
        body {
            background-image: url('myBackground.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
            
        .center-text{
                 alligntext:center;
                 background-color:rgb(191,201,193);
                 width:50%;
                 margin:auto;
                     }
         
